@using HackSite.Views
<a class="list-group-item @_rowClass" @onclick="OnItemClicked">
    <div class="d-flex justify-content-between">
        @ProjectView.Title <a class="card-link align-self-end" href="/Projects/@ProjectView.Id">View Project</a>
    </div>
</a>

@code{
    [Parameter]
    public ProjectView ProjectView { get; set; }
    [Parameter]
    public EventCallback<Guid> OnSelected { get; set; }
    [Parameter]
    public EventCallback<Guid> OnDeselected { get; set; }

    private bool _isSelected;
    private string _rowClass = RowClassDeselected;

    private const string RowClassSelected = "list-group-item list-group-item-action active";
    private const string RowClassDeselected = "list-group-item list-group-item-action";

    public void OnItemClicked()
    {
        _isSelected = !_isSelected;

        _rowClass = _isSelected ? RowClassSelected : RowClassDeselected;

        if (_isSelected)
        {
            OnSelected.InvokeAsync(ProjectView.Id);
        }
        else
        {
            OnDeselected.InvokeAsync(ProjectView.Id);
        }
    }
}