@page "/Teams"

@using HackSite.Controllers
@using HackSite.Views
@using HackSite.Pages.Components

@inject TeamsController TeamsController
@inject ProjectsController ProjectsController

<h1>Teams and Projects</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (teamViews == null || projectViews == null)
{

}
else
{
    <h2>Teams</h2>
    <div class="container">
        @foreach (var team in teamViews)
        {
            <div class="row mb-1">
                <div class="col">
                    <TeamPreviewComponent TeamView="@team"></TeamPreviewComponent>
                </div>
            </div>
        }
    </div>
}

@code {

    private TeamView[] teamViews;
    private ProjectView[] projectViews;

    protected override async Task OnInitializedAsync()
    {
        teamViews = await TeamsController.GetTeamsAsync();
        projectViews = await ProjectsController.GetProjectsAsync();
    }
}
