@page "/Users/{guidString}"

@using HackSite.Controllers;
@using HackSite.Views;
@using HackSite.Pages.Components
@inject UsersController UsersController

<h3>Team Details</h3>

@if (_userView == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <UserCard UserView="@_userView"></UserCard>
}

@code {
    [Parameter]
    public String GuidString { get; set; }

    private Guid _userGuid;
    private UserView _userView;

    protected override async Task OnInitializedAsync()
    {
        Guid.TryParse(GuidString, out _userGuid);

        if (_userGuid != Guid.Empty)
        {
            _userView = await UsersController.GetUserAsync(_userGuid);
        }
    }
}