

<h1>Create Project</h1>

<p>To create a new project, fill in the details below. Once the project is created, you'll be given a unique link to share with your team members so they can join.</p>


    <div class="row">

        <div class="col-12">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputProjectName">Project Name</label>
                        <input type="text" class="form-control" id="inputProjectName" placeholder="Name / title of your project">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="projectCategorySelect">Category</label>
                        <select class="form-control" id="projectCategorySelect">
                            <option value="-1">Select one...</option>
                            <option>Blah</option>
                            <option>Blah</option>
                            <option>Blah</option>
                            <option>Blah</option>
                            @* to be populated from categories view with (Select:-1) being static*@
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="inputAddress">Project Repository <sup>(optional)</sup></label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="https://">
                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary">Create Project</button>
                    </div>
                </div>
            </form>

        </div>

</div>